html, body{
    overflow:hidden !important;
    margin: 0px;
}

/* Override jquery overflow */
.ui-page
{
    overflow: hidden !important;
}

#homeDiv 
{
    position: absolute;
    background-color: #FF8800;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


